body {
  background: transparent;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100vh;
  background: transparent;
}

.card {
  border: none;
}
